***Series Basics To Advance***

In [6]:
import pandas as pd

s1 = pd.Series([10,20,3,40,50,6])
s1

0    10
1    20
2     3
3    40
4    50
5     6
dtype: int64

In [25]:
import pandas as pd

s1 = pd.Series([1.2,4.3,5.4,57,4,65.5])
s1

0     1.2
1     4.3
2     5.4
3    57.0
4     4.0
5    65.5
dtype: float64

In [8]:
import pandas as pd

s1 = pd.Series([1.2,4.3,5.4,57,4,65.5], index = ['First','Second','Third','Forth','Fifth','Sixth'])
s1

First      1.2
Second     4.3
Third      5.4
Forth     57.0
Fifth      4.0
Sixth     65.5
dtype: float64

In [17]:
import pandas as pd

s1 = pd.Series([1.2,4.3,5.4,57,4,65.5], index = ['First','Second','Third','Forth','Fifth','Sixth'])
s1[-3:]

Forth    57.0
Fifth     4.0
Sixth    65.5
dtype: float64

In [28]:
import pandas as pd

s1 = pd.Series(range(5))
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [7]:
import pandas as pd

s1 = pd.Series([12,34,56,78,34], index=['a','b','c','d','e'])
print(s1['a'])
s1[['a','c','d']]

12

a    12
c    56
d    78
dtype: int64

In [20]:
import pandas as pd
s1 = pd.Series([12,34,56,78,43], index=['a','b','c','d','e'])
print(s1[0])
print(s1[1:2])
print(s1[:3])
print(s1[-3:])

12
b    34
dtype: int64
a    12
b    34
c    56
dtype: int64
c    56
d    78
e    43
dtype: int64

In [29]:
import pandas as pd
s1 = pd.Series([12,34,56,78,3], index=['a','b','c','d','e'])
print(s1.iloc[1:4])
print(s1.loc['b':'e'])

b    34
c    56
d    78
dtype: int64
b    34
c    56
d    78
e     3
dtype: int64

In [33]:
import pandas as pd
s1 = pd.Series(55, index=['a','b','c','d'])
print(s1)

s2 = pd.Series(55,index=[0,1,2,3])
print(s2)

a    55
b    55
c    55
d    55
dtype: int64
0    55
1    55
2    55
3    55
dtype: int64

In [35]:
import pandas as pd
s1 = pd.Series(55,index = range(1,4))
print(s1)
s2 = pd.Series(55, index = range(1,6,2))
print(s2)

1    55
2    55
3    55
dtype: int64
1    55
3    55
5    55
dtype: int64

In [36]:
import pandas as pd
s1 = pd.Series('Welcome To Python', index=['dell','hp','acer'])
print(s1)

dell    Welcome To Python
hp      Welcome To Python
acer    Welcome To Python
dtype: object

In [40]:
import pandas as pd
s1 = pd.Series(range(1,15,3), index=[x for x in 'abcde'])
print(s1)

a     1
b     4
c     7
d    10
e    13
dtype: int64

In [42]:
import pandas as pd
roll_no = [1,2,3,4,5]
name = ['Apple','Google','Microsoft','Hp','Dell']
s = pd.Series(roll_no, index=name)
print(s)

Apple        1
Google       2
Microsoft    3
Hp           4
Dell         5
dtype: int64

In [45]:
import pandas as pd
import numpy as np
s1 = pd.Series([12,34,56,78,3], index=['a','b',np.nan,'d','e'])
print(s1)

a      12
b      34
NaN    56
d      78
e       3
dtype: int64

In [50]:
import pandas as pd
s = pd.Series({'A':1,'B':2,'C':3,'D':4,'E':5,'F':6})
print(s)

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

In [54]:
import pandas as pd
s = pd.Series({'A':1,'B':2,'C':3,'D':4,'E':5,'F':6})
s.name='Numbers'
s.index.name='Alphabets'
print(s)

Alphabets
A    1
B    2
C    3
D    4
E    5
F    6
Name: Numbers, dtype: int64

In [55]:
import pandas as pd
import numpy as np
s = np.arange(10)
sobj = pd.Series(s*4,index=s)
print(sobj)

0     0
1     4
2     8
3    12
4    16
5    20
6    24
7    28
8    32
9    36
dtype: int32

In [59]:
import pandas as pd
import numpy as np
s = np.arange(10)
sobj = pd.Series(index=s,data=s**2)
sobj.name = 'Square Of Number'
sobj.index.name = 'Number'
print(sobj)

Number
0     0
1     1
2     4
3     9
4    16
5    25
6    36
7    49
8    64
9    81
Name: Square Of Number, dtype: int32

In [88]:
import pandas as pd
s = pd.Series(range(1,15,3), index=[x for x in 'abcde'])
print(s)
print(s.values)
print(s.index)
print(s.shape)
print(s.size)
print(s.ndim)
print(s.nbytes)
# print(s.itemsize)
print(s.dtype)
print(s.hasnans)
print(s.empty)

a     1
b     4
c     7
d    10
e    13
dtype: int64
[ 1  4  7 10 13]
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
(5,)
5
1
40
int64
False
False

In [86]:
import pandas as pd
s = pd.Series([10,20,30,40,50], index=['a','b','c','d','e'])
print(s.head(3))
print(s.tail(2))

a    10
b    20
c    30
dtype: int64
d    40
e    50
dtype: int64

In [85]:
import pandas as pd
s = pd.Series([1.2,2.2,4,5,1.000])
print(s>2,"\n")
print(s[s>2],"\n")
print(s[s>=2.3])

0    False
1     True
2     True
3     True
4    False
dtype: bool

1    2.2
2    4.0
3    5.0
dtype: float64

2    4.0
3    5.0
dtype: float64

***Series From GeeksForGeeks***

**Reference : https://www.geeksforgeeks.org/creating-a-pandas-series/**
- Pandas Series is a one-dimensional labelled array capable of holding data of any type (integer, string, float, python objects, etc.)
- The axis labels are collectively called index
- Labels need not be unique but must be a hashable type
- The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index

In [6]:
# Creating empty series 

import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: float64)

<ipython-input-6-b7485bcfd431>:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

In [16]:
# Creating a series from array

import pandas as pd
import numpy as np

data1 = np.array([1,2,3,4,5])
data = np.array(['a','b','c','d','e'])
s = pd.Series(data)
s1 = pd.Series(data1)
print(s,"\n\n",s1)

0    a
1    b
2    c
3    d
4    e
dtype: object

 0    1
1    2
2    3
3    4
4    5
dtype: int32

In [2]:
# Creating a series from array with index :

import pandas as pd
import numpy as np

data = np.array([1,2,3,4,5])
s = pd.Series(data, index=['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int32

In [21]:
# Creating a series from Lists:

import pandas as pd
l = [1,2,4,2,5,3]
s = pd.Series(l)
print(s)

0    1
1    2
2    4
3    2
4    5
5    3
dtype: int64

In [24]:
# Creating a series from Dictionary

import pandas as ps
dict = {'A':123,'B':567,'C':890}
s = pd.Series(dict)
s

A    123
B    567
C    890
dtype: int64

**Creating a series from Scalar value**
- In order to create a series from scalar value, an index must be provided. The scalar value will be repeated to match the length of index.

In [1]:
import pandas as pd 

ser = pd.Series(10, index =[0, 1, 2, 3, 4, 5]) 
print(ser)

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

In [5]:
# Creating a series using NumPy functions
import pandas as pd
import numpy as np
s1 = pd.Series(np.linspace(3,33,3))          #print 3 vaules which are evenly spaced over the given interval
print(s1)
print()

s2 = pd.Series(np.linspace(3,33,10))         #print 10 vaules which are evenly spaced over the given interval
print(s2)

0     3.0
1    18.0
2    33.0
dtype: float64

0     3.000000
1     6.333333
2     9.666667
3    13.000000
4    16.333333
5    19.666667
6    23.000000
7    26.333333
8    29.666667
9    33.000000
dtype: float64

**Reference : https://www.geeksforgeeks.org/python-pandas-series/**

**Creating a series from array**
- In order to create a series from array, we have to import a numpy module and have to use array() function

In [3]:
import pandas as pd
import numpy as np

data = np.array(['g','e','e','k','s'])
ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

**Creating a series from Lists** 
- In order to create a series from list, we have to first create a list after that we can create a series from list

In [4]:
import pandas as pd
list = ['g','e','r','t','g']
ser = pd.Series(list)
print(ser)

0    g
1    e
2    r
3    t
4    g
dtype: object

***Accessing element of Series***
- There are two ways through which we can access element of series, they are :
    - Accessing Element from Series with Position
    - Accessing Element Using Label (index)

**1. Accessing Element from Series with Position**
- In order to access the series element refers to the index number. Use the index operator [ ] to access an element in a series
- The index must be an integer. In order to access multiple elements from a series, we use Slice operation

In [6]:
import pandas as pd
import numpy as np

data = np.array(['a','s','d','f','g','h','h','j','k','l','a'])
ser = pd.Series(data)
print(ser[:5])

0    a
1    s
2    d
3    f
4    g
dtype: object

**2. Accessing Element Using Label (index)**
- In order to access an element from series, we have to set values by index label. A Series is like a fixed-size dictionary in that you can get and set values by index label

In [9]:
import pandas as pd
import numpy as np

data = np.array(['a','s','d','f','g','h','h','j','k','l','a'])
ser = pd.Series(data, index=[1,2,3,4,5,6,7,8,9,10,11])
print(ser[9])

k

***Indexing and Selecting Data in Series***
- Indexing in pandas means simply selecting particular data from a Series
- Indexing could mean selecting all the data, some of the data from particular columns
-  Indexing can also be known as Subset Selection

**1. Indexing a Series using indexing operator []**
- Indexing operator is used to refer to the square brackets following an object. The .loc and .iloc indexers also use the indexing operator to make selections. In this indexing operator to refer to df[ ]

In [16]:
import pandas as pd
df = pd.read_csv("winequality-red.csv")

ser = pd.Series(df['pH'])
data = ser.head(10)
print(data,"\n")

# Now we access the element of series using index operator [ ].
print(data[3:6])

0    3.51
1    3.20
2    3.26
3    3.16
4    3.51
5    3.51
6    3.30
7    3.39
8    3.36
9    3.35
Name: pH, dtype: float64

3    3.16
4    3.51
5    3.51
Name: pH, dtype: float64

**2. Indexing a Series using .loc[ ]**
- This function selects data by refering the explicit index . The df.loc indexer selects data in a different way than just the indexing operator. It can select subsets of data

In [21]:
import pandas as pd

df = pd.read_csv("winequality-red.csv")
ser = pd.Series(df['pH'])
data = ser.head(10)
print(data,"\n")
data.loc[3:6]

0    3.51
1    3.20
2    3.26
3    3.16
4    3.51
5    3.51
6    3.30
7    3.39
8    3.36
9    3.35
Name: pH, dtype: float64

3    3.16
4    3.51
5    3.51
6    3.30
Name: pH, dtype: float64

**3. Indexing a Series using .iloc[ ]**
- This function allows us to retrieve data by position. In order to do that, we’ll need to specify the positions of the data that we want. The df.iloc indexer is very similar to df.loc but only uses integer locations to make its selections

In [22]:
import pandas as pd

df = pd.read_csv("winequality-red.csv")
ser = pd.Series(df['pH'])
data = ser.head(10)
print(data,"\n")
data.iloc[3:6]

0    3.51
1    3.20
2    3.26
3    3.16
4    3.51
5    3.51
6    3.30
7    3.39
8    3.36
9    3.35
Name: pH, dtype: float64

3    3.16
4    3.51
5    3.51
Name: pH, dtype: float64

***Binary Operation on Series***
- We can perform binary operation on series like addition, subtraction and many other operation. In order to perform binary operation on series we have to use some function like .add(),.sub() etc

In [41]:
# importing pandas module  
import pandas as pd  
 
# creating a series
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
 
# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
 
print(data, "\n\n", data1)

print("\nAfter The Addition Of Two Series")
# adding two series using
# .add
data.add(data1, fill_value=0)   # fill_value will add given value at NaN place

a    5
b    2
c    3
d    7
dtype: int64

 a    1
b    6
d    4
e    9
dtype: int64

After The Addition Of Two Series

a     6.0
b     8.0
c     3.0
d    11.0
e     9.0
dtype: float64

In [47]:
# importing pandas module  
import pandas as pd  
 
# creating a series
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
 
# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
 
print(data, "\n\n", data1)

# subtracting two series using
# .sub
data.sub(data1)   # you can also pass fill_value to replace NaN

a    5
b    2
c    3
d    7
dtype: int64

 a    1
b    6
d    4
e    9
dtype: int64

a    4.0
b   -4.0
c    NaN
d    3.0
e    NaN
dtype: float64

**Conversion Operation on Series**
- In conversion operation we perform various operation like changing datatype of series, changing a series to list etc
- In order to perform conversion operation we have various function which help in conversion like .astype(), .tolist() etc

In [56]:
import pandas as pd
data = pd.read_csv("Employee.csv")

# dropping null value columns to avoid errors
data.dropna(inplace=True)

# storing dtype before converting
before = data.dtypes

# converting dtype using astype
data['Age'] = data['Age'].astype(str)
data['Salary'] = data['Salary'].astype(int)

# storing dtype after converting
after = data.dtypes

# printing to compare 
print("BEFORE CONVERSION\n", before, "\n") 
print("AFTER CONVERSION\n", after, "\n")

BEFORE CONVERSION
 Empid       int64
Name       object
Age         int64
City       object
Salary    float64
dtype: object

AFTER CONVERSION
 Empid      int64
Name      object
Age       object
City      object
Salary     int32
dtype: object

In [61]:
import pandas as pd
import re

data = pd.read_csv("Employee.csv")

# removing null values to avoid errors
data.dropna(inplace=True)

# storing dtype before converting
dtype_before = type(data["Age"])

# converting to list
age_list = data['Age'].tolist()

# storing dtype after operation
dtype_after = type(age_list)

print("Data type before converting = {}\nData type after converting = {}".format(dtype_before, dtype_after))

#displaying list
print(age_list)

Data type before converting = <class 'pandas.core.series.Series'>
Data type after converting = <class 'list'>
[25, 26, 27, 28, 29, 31]

***Pandas Series.add()***

In [4]:
# 1. Adding List
import pandas as pd

data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")
short_data = data.head()

list = [1,2,3,4,5]

# Creating new column and adding list
short_data['Added Values'] = short_data['Salary'].add(list)
print(short_data)

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary  Added Values
0              Texas  7730337.0     7730338.0
1          Marquette  6796117.0     6796119.0
2  Boston University        NaN           NaN
3      Georgia State  1148640.0     1148644.0
4                NaN  5000000.0     5000005.0

<ipython-input-4-82ec63074a82>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short_data['Added Values'] = short_data['Salary'].add(list)

In [14]:
# 2. Adding series to series with null values
import pandas as pd
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")

age = data["Age"]

# na replacement
na = 5

data["Added Values"] = data["Salary"].add(other=age, fill_value=na)
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Added Values
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,7730362.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,6796142.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,32.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1148662.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,5000029.0
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,2433359.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,900024.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,2900026.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,947302.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***Pandas Series.sub()***

In [18]:
# 1. Subtracting List
import pandas as pd
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv") 
  
# creating short data of 5 rows 
short_data = data.head() 

list = [1,2,3,4,5]
short_data['Subtracted Values'] = short_data['Salary'].sub(list)
short_data

<ipython-input-18-fe7f3ce643fc>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short_data['Subtracted Values'] = short_data['Salary'].sub(list)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Subtracted Values
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,7730336.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,6796115.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1148636.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,4999995.0

In [21]:
# 2. Adding series to series with null values
import pandas as pd
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv") 

age = data['Age']
na = 20

data['Substracted Values'] = data['Salary'].sub(other=age, fill_value=na)
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Substracted Values
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,7730312.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,6796092.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,-7.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1148618.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,4999971.0
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,2433307.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,899976.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,2899974.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,947250.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***Pandas Series.mul()***

In [23]:
# 1. Multiplying list with series
import pandas as pd
data = pd.read_csv('nba.csv')

short_data = data.head()

list = [1,2,3,4,5]

short_data['Added Values'] = short_data['Salary'].mul(list)
short_data

<ipython-input-23-b3b6a9cd9681>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short_data['Added Values'] = short_data['Salary'].mul(list)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Added Values
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,13592234.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,4594560.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,25000000.0

In [26]:
# 2. Multiplying series with series having null values
import pandas as pd
data = pd.read_csv('nba.csv')

data['Age'] = data['Age']/100
age = data['Age']

na = 20

data['Added Values'] = data['Salary'].mul(other=age, fill_value=na)
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Added Values
0,Avery Bradley,Boston Celtics,0.0,PG,0.25,6-2,180.0,Texas,7730337.0,1932584.25
1,Jae Crowder,Boston Celtics,99.0,SF,0.25,6-6,235.0,Marquette,6796117.0,1699029.25
2,John Holland,Boston Celtics,30.0,SG,0.27,6-5,205.0,Boston University,NaN,5.40
3,R.J. Hunter,Boston Celtics,28.0,SG,0.22,6-5,185.0,Georgia State,1148640.0,252700.80
4,Jonas Jerebko,Boston Celtics,8.0,PF,0.29,6-10,231.0,NaN,5000000.0,1450000.00
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,0.26,6-3,203.0,Butler,2433333.0,632666.58
454,Raul Neto,Utah Jazz,25.0,PG,0.24,6-1,179.0,NaN,900000.0,216000.00
455,Tibor Pleiss,Utah Jazz,21.0,C,0.26,7-3,256.0,NaN,2900000.0,754000.00
456,Jeff Withey,Utah Jazz,24.0,C,0.26,7-0,231.0,Kansas,947276.0,246291.76
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***Pandas Series.div()***

In [27]:
# 1. Dividing list with series
import pandas as pd
data = pd.read_csv('nba.csv')

short_data = data.head()

list = [1,2,3,4,5]

short_data['Added Values'] = short_data['Age'].div(list)
short_data

<ipython-input-27-9d7a5454c81b>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short_data['Added Values'] = short_data['Age'].div(list)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Added Values
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,25.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,12.5
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,9.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,5.5
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,5.8

In [31]:
# 2. Dividing series with series having null values
import pandas as pd
data = pd.read_csv('nba.csv')

age = data['Age']

na = 20000

data['Added Values'] = data['Salary'].div(other=age, fill_value=na)
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Added Values
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,309213.480000
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,271844.680000
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,740.740741
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,52210.909091
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,172413.793103
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,93589.730769
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,37500.000000
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,111538.461538
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,36433.692308
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***Pandas Series.sum()***

In [34]:
# By default, the sum of an empty or all-NA Series is 0.
import pandas as pd

pd.Series([]).sum()
pd.Series([]).sum(min_count=1)

<ipython-input-34-26bd068f3297>:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series([]).sum()
<ipython-input-34-26bd068f3297>:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series([]).sum(min_count=1)

nan

In [36]:
import pandas as pd
data = pd.read_csv('nba.csv')
val = data['Salary'].sum()
val

2159837111.0

In [40]:
import pandas as pd
data = {'name':['john','man','good'],
       'age':[56,3,46]}
df = pd.DataFrame(data)
df['totle'] = df['age'].sum()
df

   name  age  totle
0  john   56    105
1   man    3    105
2  good   46    105

***Pandas Series.prod()***

In [41]:
import pandas as pd
pd.Series([]).prod()
pd.Series([]).prod(min_count=1)

<ipython-input-41-9c4d24eee5c4>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series([]).prod()
<ipython-input-41-9c4d24eee5c4>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series([]).prod(min_count=1)

nan

In [44]:
import pandas as pd
val = pd.Series([1,2,3,4]).prod()
val

24

- Pandas Series.pow() is a series mathematical operation method. This is used to put each element of passed series as exponential power of caller series and returned the results. For this, index of both the series has to be same otherwise error is returned.

In [45]:
import pandas as pd
first = [1,2,3,4,5]
second = [6,7,8,9,1]

first = pd.Series(first)
second = pd.Series(second)

result = first.pow(second)
result

0         1
1       128
2      6561
3    262144
4         5
dtype: int64

In [50]:
import numpy as np
import pandas as pd

first = pd.Series([4,4,np.nan,5,np.nan,6])
second = pd.Series([2,4,5,np.nan,6,np.nan])

null_replacement = 2

result = first.pow(second, fill_value = null_replacement)
result

0     16.0
1    256.0
2     32.0
3     25.0
4     64.0
5     36.0
dtype: float64

***Pandas Series.abs()***

In [51]:
import pandas as pd
lst = [2, -10.87, -3.14, 0.12] 
lst2 = [-10.87 + 4j] 

ser = pd.Series(lst)
ser1 = pd.Series(lst2)
print(ser1.abs(),"\n\n",ser.abs())

0    11.582612
dtype: float64

 0     2.00
1    10.87
2     3.14
3     0.12
dtype: float64

In [52]:
import pandas as pd  
  
df = pd.DataFrame({'Name': ['John', 'Hari', 'Peter', 'Loani'], 
                  'Age': [31, 29, 57, 40], 
                  'val': [98, 48, -80, -14]}) 
  
df['ope'] = (df.val - 87).abs()
df

    Name  Age  val  ope
0   John   31   98   11
1   Hari   29   48   39
2  Peter   57  -80  167
3  Loani   40  -14  101

***Pandas Series.cov() to find Covariance***
- Pandas Series.cov() is used to find covariance of two series
- In the following example, covariance is found using both Pandas method and manually ways and the answers are then compared.

In [54]:
import pandas as pd
a = [2, 3, 2.7, 3.2, 4.1] 
b = [10, 14, 12, 15, 20] 

av_a = sum(a)/len(a)
av_b = sum(b)/len(b)

a = pd.Series(a)
b = pd.Series(b)

covar = a.cov(b)

def covarfn(a,b,av_a,av_b):
    cov = 0
    
    for i in range(0, len(a)):
        cov += (a[i] - av_a) * (b[i] - av_b)
    return (cov / (len(a)-1))

cov = covarfn(a,b,av_a,av_b)
print("Results from Pandas method: ", covar) 
print("Results from manual function method: ", cov)

Results from Pandas method:  2.8499999999999996
Results from manual function method:  2.8499999999999996

***Pandas Series.combine_first()***

In [53]:
import pandas as pd   
    
# importing numpy module  
import numpy as np  
    
# creating series 1  
series1 = pd.Series([70, 5, 0, 225, 1, 16, np.nan, 10, np.nan])  
    
# creating series 2  
series2 = pd.Series([27, np.nan, 2, 23, 1, 95, 53, 10, 5])  

result1 = series1.combine_first(series2)
result2 = series2.combine_first(series1)

print('Result 1:\n', result1, '\n\nResult 2:\n', result2)

Result 1:
 0     70.0
1      5.0
2      0.0
3    225.0
4      1.0
5     16.0
6     53.0
7     10.0
8      5.0
dtype: float64

Result 2:
 0    27.0
1     5.0
2     2.0
3    23.0
4     1.0
5    95.0
6    53.0
7    10.0
8     5.0
dtype: float64

***Pandas Series.le()***
- Pandas series.le() is used to compare every element of Caller series with passed series
- It returns True for every element which is Less than or Equal to the element in passed series
- Note :
The results are returned on the basis of comparison caller series <= other series

In [2]:
import pandas as pd
import numpy as np

series1 = pd.Series([11, 0, 2, 43, 9, 27, np.nan, 10, np.nan])
series2 = pd.Series([16, np.nan, 2, 23, 5, 40, 54, 3, 19]) 

na = 10
result = series1.le(series2, fill_value=na)
result

0     True
1     True
2     True
3    False
4    False
5     True
6     True
7    False
8     True
dtype: bool

In [4]:
import pandas as pd
import numpy as np

series1 = pd.Series(['A', 0, 'c', 43, 9, 'e', np.nan, 'x', np.nan])  
     
series2 = pd.Series(['v', np.nan, 'c', 23, 5, 'D', 54, 'p', 19])  
na = 10

result = series1.le(series2, fill_value = na) 

result

0     True
1     True
2     True
3    False
4    False
5    False
6     True
7    False
8     True
dtype: bool

***Pandas Map***

In [11]:
# Create a DataFrame
import pandas as pd
df= pd.DataFrame({'Country':['China','India','USA','Indonesia','Brazil'],'Population':[1403500365,1324171354,322179605,261115456,207652865]})
print(df)

#dictionary contains the countries and their corresponding National capitals
country_capital={
'Germany':'Berlin',
'Brazil':'Brasília',
'Budapest':'Hungary',
'China':'Beijing',
'India':'New Delhi',
'Norway':'Oslo',
'France':'Paris',
'Indonesia': 'Jakarta',
'USA':'Washington'
}
# Create Column Capital matching Dictionary value
df['Capital'] = df['Country'].map(country_capital)
print("\n\n")
print(df)

df['inc_Population'] = df['Population'].map(lambda x: x*100)
print("\n\n")
print(df)

     Country  Population
0      China  1403500365
1      India  1324171354
2        USA   322179605
3  Indonesia   261115456
4     Brazil   207652865



     Country  Population     Capital
0      China  1403500365     Beijing
1      India  1324171354   New Delhi
2        USA   322179605  Washington
3  Indonesia   261115456     Jakarta
4     Brazil   207652865    Brasília



     Country  Population     Capital  inc_Population
0      China  1403500365     Beijing    140350036500
1      India  1324171354   New Delhi    132417135400
2        USA   322179605  Washington     32217960500
3  Indonesia   261115456     Jakarta     26111545600
4     Brazil   207652865    Brasília     20765286500

***Pandas Series.tolist()***

In [26]:
import pandas as pd
data = pd.read_csv("nba.csv")

data.dropna(inplace=True)

dtype_before = type(data['Salary'])

salary_list = data['Salary'].tolist()

dtype_after = type(salary_list)

print("Data type before converting = {}\nData type after converting = {}".format(dtype_before, dtype_after)) 
  
# displaying list 
salary_list[0:7]

Data type before converting = <class 'pandas.core.series.Series'>
Data type after converting = <class 'list'>

[7730337.0, 6796117.0, nan, 1148640.0, 5000000.0, 12000000.0, 1170960.0]

***Pandas Series.to_numpy()***
- This function will explain how we can convert the pandas Series to numpy Array. Although it’s very simple, but the concept behind this technique is very unique. Because we know the Series having index in the output. Whereas in numpy arrays we only have elements in the numpy arrays.

In [2]:
import pandas as pd

data = pd.read_csv("nba.csv")
data.dropna(inplace=True)

gfg = pd.Series(data['Weight'].head())

print(gfg.to_numpy())

[180. 235. 185. 235. 238.]

In [6]:
import pandas as pd

data = pd.read_csv("nba.csv")
data.dropna(inplace=True)

gfg = pd.Series(data['Weight'].head())

print(gfg.to_numpy(dtype='int64'))

[180 235 185 235 238]

In [7]:
import pandas as pd

data = pd.read_csv("nba.csv")
data.dropna(inplace=True)

gfg = pd.Series(data['Weight'].head())

print(type(gfg.to_numpy()))

<class 'numpy.ndarray'>