In [15]:
import pandas as pd
s = pd.Series([166,2000,32455,42,553,623,7543])

def fun(num):
    if num<200:
        return "Low"
    elif num>=200 and num<=400:
        return "Normal"
    else:
        return "High"
    
# passing function to apply and storing returned series in new 
new = s.apply(fun)

print(new.head(3))
print(new[2000], new[42], new[32455]) 
print(new.tail(3))

0     Low
1    High
2    High
dtype: object

KeyError: 2000

In [21]:
import pandas as pd
s = pd.Series([166,2000,32455,42,553,623,7543])

new = s.apply(lambda num: num + 5)

print(s.head(), '\n\n', new.head())
print('\n\n#--------------')
print('\n\n', s.tail(), '\n\n', new.tail())

0      166
1     2000
2    32455
3       42
4      553
dtype: int64

 0      171
1     2005
2    32460
3       47
4      558
dtype: int64


#--------------


 2    32455
3       42
4      553
5      623
6     7543
dtype: int64

 2    32460
3       47
4      558
5      628
6     7548
dtype: int64

In [28]:
import pandas as pd

def add(a, b, c):
    return a + b + c

def main():
    data = {'A':[1,2,3],
           'B':[4,5,6],
           'C':[7,8,9]}
    
    df = pd.DataFrame(data)
    print("Original DataFrame:\n")
    print(df)
    df['Add'] = df.apply(lambda row: add(row['A'], row['B'], row['C']), axis=1)
    print("\nAfter Applying The Function:\n")
    print(df)
if __name__ == '__main__':
    main()

Original DataFrame:

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

After Applying The Function:

   A  B  C  Add
0  1  4  7   12
1  2  5  8   15
2  3  6  9   18

In [32]:
import pandas as pd 
import numpy as np
   
def main(): 
    data = { 
            'A':[1, 2, 3],  
            'B':[4, 5, 6],  
            'C':[7, 8, 9] } 
      
    # Convert the dictionary into DataFrame  
    df = pd.DataFrame(data) 
    print("Original DataFrame:\n", df)
    
    df['Add'] = df.apply(np.sum, axis=1)
    print("\nAfter Applying Function\n")
    print(df)

if __name__ == '__main__':
    main()

Original DataFrame:
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

After Applying Function

   A  B  C  Add
0  1  4  7   12
1  2  5  8   15
2  3  6  9   18

In [50]:
import pandas as pd 
  
def normalize(x, y): 
    x_new = ((x - np.mean([x, y])) /
             (max(x, y) - min(x, y))) 
       
    return x_new 

def main():
    data = {
            'X':[1, 2, 3],  
            'Y':[45, 65, 89]  }
    df = pd.DataFrame(data)
    print("Original DataFrame\n",df)
    df['X'] = df.apply(lambda row: normalize(row['X'], row['Y']),axis=1)
    print("\nNormalized")
    print(df)
if __name__ == '__main__':
    main()

Original DataFrame
    X   Y
0  1  45
1  2  65
2  3  89

Normalized
     X   Y
0 -0.5  45
1 -0.5  65
2 -0.5  89

In [13]:
# Generate range
import pandas as pd
import numpy as np

def generate_range(n):
    n = int(n)
    lower_limit = n//10 * 10
    upper_limit = lower_limit + 10
    
    return str(str(lower_limit)+'-'+str(upper_limit))

def replace(row):
    for i,item in enumerate(row):
        row[i] = generate_range(item)
    return row

def main(): 
    data = { 
            'A':[0, 2, 3],  
            'B':[4, 15, 6],  
            'C':[47, 8, 19] } 
    
    df = pd.DataFrame(data)
    print("Before applying function")
    print(df)
    
    df = df.apply(lambda row: replace(row))
    
    print("\nAfter applying the function")
    print(df)

if __name__ in '__main__':
    main()

Before applying function
   A   B   C
0  0   4  47
1  2  15   8
2  3   6  19

After applying the function
      A      B      C
0  0-10   0-10  40-50
1  0-10  10-20   0-10
2  0-10   0-10  10-20

In [36]:
import pandas as pd
sr = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio'])  
index_ = ['City 1', 'City 2', 'City 3', 'City 4', 'City 5']  
sr.index = index_
print(sr,'\n\n')

result = sr.apply(lambda x: 'Mortreal' if x == 'Rio' else x)
print(result)

City 1    New York
City 2     Chicago
City 3     Toronto
City 4      Lisbon
City 5         Rio
dtype: object


City 1    New York
City 2     Chicago
City 3     Toronto
City 4      Lisbon
City 5    Mortreal
dtype: object

In [44]:
import pandas as pd
sr = pd.Series([11, 21, 8, 18, 65, 18, 32, 10, 5, 32, None])

index_ = pd.date_range('2010-10-09 08:45', periods=11, freq='Y')
sr.index = index_
print(sr,'\n\n')

result = sr.apply(lambda x: True  if x>30 else False)
print(result)

2010-12-31 08:45:00    11.0
2011-12-31 08:45:00    21.0
2012-12-31 08:45:00     8.0
2013-12-31 08:45:00    18.0
2014-12-31 08:45:00    65.0
2015-12-31 08:45:00    18.0
2016-12-31 08:45:00    32.0
2017-12-31 08:45:00    10.0
2018-12-31 08:45:00     5.0
2019-12-31 08:45:00    32.0
2020-12-31 08:45:00     NaN
Freq: A-DEC, dtype: float64


2010-12-31 08:45:00    False
2011-12-31 08:45:00    False
2012-12-31 08:45:00    False
2013-12-31 08:45:00    False
2014-12-31 08:45:00     True
2015-12-31 08:45:00    False
2016-12-31 08:45:00     True
2017-12-31 08:45:00    False
2018-12-31 08:45:00    False
2019-12-31 08:45:00     True
2020-12-31 08:45:00    False
Freq: A-DEC, dtype: bool

In [50]:
import pandas as pd
df = pd.read_csv('nba.csv')

print(df[:5],"n\n\n")

# Applying aggregation across all the columns  
# sum and min will be found for each  
# numeric type column in df dataframe
df.aggregate(['sum','min'])

            Name            Team  Number Position   Age Height  Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0                NaN  5000000.0 n

     Number      Age    Weight        Salary
sum  8079.0  12311.0  101236.0  2.159837e+09
min     0.0     19.0     161.0  3.088800e+04

In [51]:
import pandas as pd 
df = pd.read_csv("nba.csv") 
  
# We are going to find aggregation for these columns
df.aggregate({"Number":['sum', 'min'], 
              "Age":['max', 'min'], 
              "Weight":['min', 'sum'],  
              "Salary":['sum']})

     Number   Age    Weight        Salary
max     NaN  40.0       NaN           NaN
min     0.0  19.0     161.0           NaN
sum  8079.0   NaN  101236.0  2.159837e+09

In [55]:
import pandas as pd
df = pd.DataFrame({"A":[12, 4, 5, 44, 1], 
                   "B":[5, 2, 54, 3, 2],  
                   "C":[20, 16, 7, 3, 8], 
                   "D":[14, 3, 17, 2, 6]}) 
print(df,'\n\n')
df.mean(axis=0)      # column vice

    A   B   C   D
0  12   5  20  14
1   4   2  16   3
2   5  54   7  17
3  44   3   3   2
4   1   2   8   6

A    13.2
B    13.2
C    10.8
D     8.4
dtype: float64

In [57]:
import pandas as pd
df = pd.DataFrame({"A":[12, 4, 5, None, 1], 
                   "B":[7, 2, 54, 3, None], 
                   "C":[20, 16, 11, 3, 8],
                   "D":[14, 3, None, 2, 6]}) 
df.mean(axis=1, skipna=True)

0    13.250000
1     6.250000
2    23.333333
3     2.666667
4     5.000000
dtype: float64

In [59]:
import pandas as pd
sr = pd.Series([10,25,3,25,24,6])
index_ = ['Coca Cola', 'Sprite', 'Coke', 'Fanta', 'Dew', 'ThumbsUp'] 

sr.index = index_
print(sr,"\n\n")

result = sr.mean()
print(result)

Coca Cola    10
Sprite       25
Coke          3
Fanta        25
Dew          24
ThumbsUp      6
dtype: int64


15.5

In [63]:
import pandas as pd
sr = pd.Series([19.5, 16.8, None, 22.78, 16.8, 20.124, None, 18.1002, 19.5]) 

print(sr,"\n\n")

result = sr.mean(skipna=True)
print(result)

0    19.5000
1    16.8000
2        NaN
3    22.7800
4    16.8000
5    20.1240
6        NaN
7    18.1002
8    19.5000
dtype: float64


19.086314285714284

In [65]:
import pandas as pd
df = pd.DataFrame({"A":[12, 4, 5, 44, 1], 
                   "B":[5, 2, 54, 3, 2],  
                   "C":[20, 16, 7, 3, 8], 
                   "D":[14, 3, 17, 2, 6]}) 
print(df)
df.mad(axis=0)       # mean absolute deviation.

    A   B   C   D
0  12   5  20  14
1   4   2  16   3
2   5  54   7  17
3  44   3   3   2
4   1   2   8   6

A    12.32
B    16.32
C     5.76
D     5.68
dtype: float64

In [66]:
import pandas as pd
df = pd.DataFrame({"A":[12, 4, 5, None, 1], 
                   "B":[7, 2, 54, 3, None], 
                   "C":[20, 16, 11, 3, 8],  
                   "D":[14, 3, None, 2, 6]}) 
df.mad(axis=1, skipna=True)       # mean absolute deviation.

0     3.750000
1     4.875000
2    20.444444
3     0.444444
4     2.666667
dtype: float64

In [74]:
import pandas as pd
list =[5, 12, 1, 0, 4, 22, 15, 3, 9] 

series = pd.Series(list)

result = series.mad()
print(result)

5.876543209876543

In [76]:
import pandas as pd
df = pd.read_csv('nba.csv')
print(df)

result = df.sem(axis=0)
print(result)

              Name            Team  Number Position   Age Height  Weight            College     Salary
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0              Texas  7730337.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0          Marquette  6796117.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0  Boston University        NaN
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0      Georgia State  1148640.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0                NaN  5000000.0
..             ...             ...     ...      ...   ...    ...     ...                ...        ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0             Butler  2433333.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0                NaN   900000.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0                NaN  2900000.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0             Kansas   947276.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN                NaN        NaN

[458 rows x 9 columns]
Number         0.746862
Age            0.206011
Weight         1.233459
Salary    247611.576815
dtype: float64

In [85]:
import pandas as pd
df = pd.read_csv("nba.csv")
df.sem(axis=1, skipna=True)

0      1.932567e+06
1      1.698999e+06
2      5.883971e+01
3      2.871404e+05
4      1.249978e+06
           ...
453    6.083135e+05
454    2.249810e+05
455    7.249748e+05
456    2.367956e+05
457             NaN
Length: 458, dtype: float64

In [79]:
import pandas as pd
sr = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio', 'Chicago', 'Lisbon']) 

print(sr,'\n\n')

sr.value_counts()          # unique value

0    New York
1     Chicago
2     Toronto
3      Lisbon
4         Rio
5     Chicago
6      Lisbon
dtype: object

Chicago     2
Lisbon      2
Rio         1
New York    1
Toronto     1
dtype: int64

In [82]:
import pandas as pd
sr = pd.Series([100, 214, 325, 88, None, 325, None, 325, 100]) 
print(sr,'\n\n')

sr.value_counts()

0    100.0
1    214.0
2    325.0
3     88.0
4      NaN
5    325.0
6      NaN
7    325.0
8    100.0
dtype: float64

325.0    3
100.0    2
88.0     1
214.0    1
dtype: int64

In [98]:
import pandas as pd
idx = pd.Index(['Harry', 'Mike', 'Arther', 'Nick', 
                'Harry', 'Arther'], name ='Student') 
print(idx)
print()
print()
idx.value_counts()

Index(['Harry', 'Mike', 'Arther', 'Nick', 'Harry', 'Arther'], dtype='object', name='Student')

Harry     2
Arther    2
Nick      1
Mike      1
Name: Student, dtype: int64

In [96]:
import pandas as pd
idx = pd.Index([21, 10, 30, 40, 50, 10, 50]) 

print(idx,'\n\n')

idx.value_counts()

Int64Index([21, 10, 30, 40, 50, 10, 50], dtype='int64')

10    2
50    2
30    1
21    1
40    1
dtype: int64