In [2]:
import pandas as pd

data = pd.date_range('1/1/2011', periods=10, freq='H')
data

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00', '2011-01-01 05:00:00',
               '2011-01-01 06:00:00', '2011-01-01 07:00:00',
               '2011-01-01 08:00:00', '2011-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [8]:
import pandas as pd
import datetime

# Create date and time with dataframe 
data = pd.date_range('1/1/2011', periods=10, freq='H')

x = datetime.datetime.now()
x.month, x.year

(12, 2020)

In [15]:
import pandas as pd
import datetime

rng = pd.DataFrame()
rng['date'] = pd.date_range('1/1/2011', periods=60, freq='H')

rng['year'] = rng['date'].dt.year
rng['month'] = rng['date'].dt.month
rng['day'] = rng['date'].dt.day
rng['hour'] = rng['date'].dt.hour
rng['minute'] = rng['date'].dt.minute
rng[:5]

                 date  year  month  day  hour  minute
0 2011-01-01 00:00:00  2011      1    1     0       0
1 2011-01-01 01:00:00  2011      1    1     1       0
2 2011-01-01 02:00:00  2011      1    1     2       0
3 2011-01-01 03:00:00  2011      1    1     3       0
4 2011-01-01 04:00:00  2011      1    1     4       0

In [20]:
import pandas as pd
t = pandas.tslib.Timestamp.now() 
t
t.to_datetime()

AttributeError: module 'pandas' has no attribute 'tslib'

In [35]:
import pandas as pd
  
url = 'http://bit.ly/uforeports'
df = pd.read_csv(url)
print(df.head())
# Convert the Time column to datatime format 
df['Time'] = pd.to_datetime(df.Time)
print('\n\n',df.head())

# shows the type of each column data 
print('\n\n',df.dtypes)
print('\n\n',df.Time.dt.hour.head())
# print('\n\n',df.Time.dt.weekday_name.head())
print('\n\n', df.Time.dt.dayofyear.head())

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00


                    City Colors Reported Shape Reported State                Time
0                Ithaca             NaN       TRIANGLE    NY 1930-06-01 22:00:00
1           Willingboro             NaN          OTHER    NJ 1930-06-30 20:00:00
2               Holyoke             NaN           OVAL    CO 1931-02-15 14:00:00
3               Abilene             NaN           DISK    KS 1931-06-01 13:00:00
4  New York Worlds Fair             NaN          LIGHT    NY 1933-04-18 19:00:00


 City                       object
Colors Reported            object
Shape Reported             object
State                      object
Time               datetime64[ns]
dtype: object


 0    22
1    20
2    14
3    13
4    19
Name: Time, dtype: int64


 0    152
1    181
2     46
3    152
4    108
Name: Time, dtype: int64

***Python | Pandas Timestamp.timestamp***

In [38]:
import pandas as pd

ts = pd.Timestamp(year=2011, month=11, day=21, hour=10, second=49, tz='US/Central')
print(ts)
# return the number of seconds
ts.timestamp()

2011-11-21 10:00:49-06:00

1321891249.0

In [39]:
import pandas as pd 
 
ts = pd.Timestamp(year = 2009, month = 5, day = 31,  
                  hour = 4, second = 49, tz = 'Europe/Berlin')
print(ts)

ts.timestamp()

2009-05-31 04:00:49+02:00

1243735249.0

***Python | Pandas Timestamp.now***

In [42]:
import pandas as pd 

ts = pd.Timestamp(year = 2011,  month = 11, day = 21, 
           hour = 10, second = 49, tz = 'US/Central')
print(ts)
# return the current time
ts.now()

2011-11-21 10:00:49-06:00

Timestamp('2020-12-03 11:49:14.293062')

In [43]:
import pandas as pd
ts = pd.Timestamp(year = 2009, month = 5, day = 31, 
       hour = 4, second = 49, tz = 'Europe/Berlin') 
print(ts)
ts.now()

2009-05-31 04:00:49+02:00

Timestamp('2020-12-03 11:49:16.297394')

***Python | Pandas Timestamp.isoformat***

In [46]:
import pandas as pd
ts = pd.Timestamp(year = 2011,  month = 11, day = 21, 
                  hour = 10, second = 49, tz = 'US/Central') 
print(ts)
ts.isoformat()

2011-11-21 10:00:49-06:00

'2011-11-21T10:00:49-06:00'

In [47]:
import pandas as pd
ts = pd.Timestamp(year = 2009, month = 5, day = 31, 
                  hour = 4, second = 49, tz = 'Europe/Berlin') 

print(ts)
ts.isoformat()

2009-05-31 04:00:49+02:00

'2009-05-31T04:00:49+02:00'

***Python | Pandas Timestamp.date***

In [48]:
import pandas as pd

ts = pd.Timestamp(year = 2011,  month = 11, day = 21, 
           hour = 10, second = 49, tz = 'US/Central') 

print(ts)

# return as a datetime object
ts.date()

2011-11-21 10:00:49-06:00

datetime.date(2011, 11, 21)

In [49]:
import pandas as pd
ts = pd.Timestamp(year = 2009,  month = 5, day = 31, 
        hour = 4, second = 49, tz = 'Europe/Berlin') 

print(ts)
ts.date()

2009-05-31 04:00:49+02:00

datetime.date(2009, 5, 31)

***Python | Pandas Timestamp.replace***

In [57]:
import pandas as pd
ts = pd.Timestamp(year=2011, month=11,day=21, hour=10, second=49, tz='US/Central')
print(ts)

ts.replace(year=2020)

2011-11-21 10:00:49-06:00

Timestamp('2020-11-21 10:00:49-0600', tz='US/Central')

In [68]:
import pandas as pd

ts = pd.Timestamp(year = 2009, month = 5, day = 31, 
                  hour = 4, second = 49, tz = 'Europe/Berlin') 
  
print(ts)

ts.replace(year=2020, month=12, hour=1)

2009-05-31 04:00:49+02:00

Timestamp('2020-12-31 01:00:49+0100', tz='Europe/Berlin')

In [75]:
import pandas as pd
url = 'https://media.geeksforgeeks.org/wp-content/uploads/todatetime.csv'
data = pd.read_csv(url)

data['Date'] = pd.to_datetime(data['Date'])
data.info()
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1000 non-null   datetime64[ns]
 1   Time    1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

          Date      Time
0   1993-08-06  12:42 PM
1   1996-03-31   6:53 AM
2   1993-04-23  11:17 AM
3   2005-03-04   1:00 PM
4   1998-01-24   4:47 PM
..         ...       ...
995 2014-11-23   6:09 AM
996 1984-01-31   6:30 AM
997 2013-05-20  12:39 PM
998 2013-04-20   4:45 PM
999 2012-05-15   6:24 PM

[1000 rows x 2 columns]

In [76]:
import pandas as pd
url = 'https://media.geeksforgeeks.org/wp-content/uploads/todatetime.csv'
data = pd.read_csv(url)

data['Time'] = pd.to_datetime(data['Time'])

data.info()
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1000 non-null   object
 1   Time    1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

           Date                Time
0      8/6/1993 2020-12-03 12:42:00
1     3/31/1996 2020-12-03 06:53:00
2     4/23/1993 2020-12-03 11:17:00
3      3/4/2005 2020-12-03 13:00:00
4     1/24/1998 2020-12-03 16:47:00
..          ...                 ...
995  11/23/2014 2020-12-03 06:09:00
996   1/31/1984 2020-12-03 06:30:00
997   5/20/2013 2020-12-03 12:39:00
998   4/20/2013 2020-12-03 16:45:00
999   5/15/2012 2020-12-03 18:24:00

[1000 rows x 2 columns]

***Python | pandas.date_range() method***

In [79]:
import pandas as pd

per1 = pd.date_range(start='1-1-2018', end='1-05-2018', freq='5H')

for val in per1:
    print(val)

2018-01-01 00:00:00
2018-01-01 05:00:00
2018-01-01 10:00:00
2018-01-01 15:00:00
2018-01-01 20:00:00
2018-01-02 01:00:00
2018-01-02 06:00:00
2018-01-02 11:00:00
2018-01-02 16:00:00
2018-01-02 21:00:00
2018-01-03 02:00:00
2018-01-03 07:00:00
2018-01-03 12:00:00
2018-01-03 17:00:00
2018-01-03 22:00:00
2018-01-04 03:00:00
2018-01-04 08:00:00
2018-01-04 13:00:00
2018-01-04 18:00:00
2018-01-04 23:00:00

In [81]:
import pandas as pd
dRan1 = pd.date_range(start='1-1-2018', end='8-01-2018', freq='M')
dRan2 = pd.date_range(start='1-01-2018', end='11-01-2018', freq='3M')

print(dRan1,'\n\n',dRan2)

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31'],
              dtype='datetime64[ns]', freq='M')

 DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31'], dtype='datetime64[ns]', freq='3M')

In [83]:
import pandas as pd

dRan1 = pd.date_range(start ='1-1-2018', periods = 13) 
dRan2 = pd.date_range(end ='1-1-2020', periods = 13)
dRan3 = pd.date_range(start ='01-03-2017', end ='1-1-2018', periods = 13)

print(dRan1,'\n\n',dRan2,'\n\n',dRan3)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13'],
              dtype='datetime64[ns]', freq='D')

 DatetimeIndex(['2019-12-20', '2019-12-21', '2019-12-22', '2019-12-23',
               '2019-12-24', '2019-12-25', '2019-12-26', '2019-12-27',
               '2019-12-28', '2019-12-29', '2019-12-30', '2019-12-31',
               '2020-01-01'],
              dtype='datetime64[ns]', freq='D')

 DatetimeIndex(['2017-01-03 00:00:00', '2017-02-02 06:00:00',
               '2017-03-04 12:00:00', '2017-04-03 18:00:00',
               '2017-05-04 00:00:00', '2017-06-03 06:00:00',
               '2017-07-03 12:00:00', '2017-08-02 18:00:00',
               '2017-09-02 00:00:00', '2017-10-02 06:00:00',
               '2017-11-01 12:00:00', '2017-12-01 18:00:00',
               '2018-01-01 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [87]:
import pandas as pd
dRan1 = pd.date_range(start ='1-1-2018', periods = 13, tz ='Asia/Tokyo')
dRan1

DatetimeIndex(['2018-01-01 00:00:00+09:00', '2018-01-02 00:00:00+09:00',
               '2018-01-03 00:00:00+09:00', '2018-01-04 00:00:00+09:00',
               '2018-01-05 00:00:00+09:00', '2018-01-06 00:00:00+09:00',
               '2018-01-07 00:00:00+09:00', '2018-01-08 00:00:00+09:00',
               '2018-01-09 00:00:00+09:00', '2018-01-10 00:00:00+09:00',
               '2018-01-11 00:00:00+09:00', '2018-01-12 00:00:00+09:00',
               '2018-01-13 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Tokyo]', freq='D')